:root
{
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
}

   ul { 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
    margin-top: 40px;
    margin-left:100px;
      
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    top:77px;
    background: orange;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }



body
{
    display: flex;
    justify-content: center;
    margin: 0;
}
#box
{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    width: 80%;
    height: 800px;
    background-color: white;
    box-shadow: black 0px 0px 50px;
    border-radius: 12px;
}
#icon
{
    height: 40px;
    width: 40px;
    padding: 15px 15px 15px 15px;
    margin: 0px 25px 0px 25px;
}
#picture
{
    height: 40px;
    width: 40px;

}
#box1 
{
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
}
#box1 p
{
    padding: 25px 15px 25px 15px;
    transition: .25s;
}
#option
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#option ul
{
    display: flex;
}

#select
{
    list-style: none;
}
#select li{
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    height: 120px;
}
#select div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#cp
{
    display: flex;
    align-items: center;
    gap: 25px;
}
#details 
{
    display: inline-block;
    height: 20px;
    width: 22px;
}
#listitem div
{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    vertical-align: baseline;
}
#listitem
{
    position: relative;
    top: 10px;
    left: -100px;
    display: none;
    width: 200px;
    height: 150px;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 12px;
    z-index: 5;
    animation: popup 0.5s;    
}

#imp
{
    position: relative;
    top: -30px;
    left: 10px;
    display: none;
    background-color: rgb(255, 102, 0);
    color: #ffffff;
    width: 20px;
    height: 15px;
    border-radius: 12px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
#display
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#overall
{
    display: flex;
    font-size: 10px;
}
#remm
{
    width: 90%;
    height: 10%;
    color: white;
    background-color: rgb(255, 102, 0);
    border-radius: 7px;
    cursor: pointer;
}
#remm p
{
    margin: 0;
    font-size: 8px;
    padding:0 35%;
}
#disimage img
{
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#del
{
    cursor: pointer;
}
#box2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0%;
}
#products,#image1
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#image1
{
    align-items: center;
    gap: 25px;
}
#popup
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    animation: popup 1s;
}
.primary_image
{
    height: 275px;
    width: 275px;
    background-image: url("images/image-product-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    cursor: pointer;
}
.second_image
{
    display: flex;
    justify-content: space-around;
    height: 75px;
    width: 300px;
    transition: 200ms;

}
.second_image img
{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
}

#image2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#image2 .primary_image
{
    width: 425px;
    height: 425px;
}
#image2 .second_image
{
    gap: 50px;
}
#imagenav
{
    position: relative;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left, #right
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 27px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}
#left
{
    left: -25px;
}
#right
{
    left: 25px;
}
#cost
{
    display: flex;
    gap: 10px;
}
#purchace
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 25px;
    height: 50px;
    width: 100%;
}
#products p,#products h1,#products h2,#products h6,#products h5
{
    margin: 0;
}
#products
{
    gap: 15px;
}
#products p, #products h6
{
    color: orange;
}
#products h5
{
    font-weight: 200;
    color: #696969;;
}
#products h6
{
    padding: 8px;
    border-radius: 6px;
    background-color: rgba(255, 102, 0, 0.363);
}
#cart,#add_cart
{
    border-radius: 6px;
}
#cart
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 13px;
    height: 100%;
    width: 22%;
    background-color: rgba(202, 202, 202, 0.2);
    transition: 0.5s;
}
.cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    cursor: pointer;
}
#add_cart
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 50%;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
    transition: 0.5s;
}
#add_cart p
{
    color: white;
}
/*hover effect*/
#select div:hover
{
    display: flex;
    border-bottom: 4px solid rgb(255, 102, 0);
    animation: expand 0.20s;
}
#close:hover
{
    fill: rgb(255, 102, 0);
    transition: 0.5s;
}
#image1 .second_image img:hover
{
    opacity: .7;
    border: 2px solid rgb(255, 102, 0);
    transition: 0.1s;
}
#left:hover,#right:hover
{
    background-color: rgb(255, 102, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    transition: 0.75s;
}
#add_cart:hover
{
    opacity: 0.7;
    transition: 0.75s;
}
#cart:hover
{
    background-color: #cccccc;
    transition: 0.75s;
}
#add_cart:hover
{
    opacity: 0.7;
    transition: 0.75s;
}
/*animation effect*/
@keyframes popup{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes expand{
    from{width: 0;}
    to{width: 100%;}
}
@media only screen and (max-width:1028px)
{
    #body
    {
        align-items: center;
    }
    #picture
    {
        width: 25px;
        height: 25px;
    }
    #box
    {
        margin: 5px 0;
        width: 100%;
        box-shadow: none;
    }
    #box1
    {
        justify-content: space-between;
    }
    #box1,#options,.primary_image
    {
        border-radius: 0px;
    }
    #box2
    {
        flex-direction: column;
        gap: 50px;
    }
    #option
    {
        flex-direction: row-reverse;
    }
   
    #select
    {
        display: none;
        position: absolute;
        flex-direction: column;
        margin: 0;
        top: 0;
        background-color: white;
        height: 100%;
        width: 50%;
        z-index: 5;
        box-shadow: 10px 0px 50px black;
        animation: slider 1s;
    }
    #select li
    {
        align-items: flex-start;
    }
    #price_details
    {
        display: flex;
        justify-content: space-between;
    }
    #price_details h5
    {
        margin-right: 5%;
    }
    #purchace
    {
        flex-direction: column;
        height: 150px;
    }
    #image1,#products
    {
        width: 100%;
    }
    #products
    {
        padding-left: 10px;
    }
    #image1,.second_image,#popup svg,#nav ul
    {
        display: none;
    }
 
    #imagenav
    {
        top: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #left,#right
    {
        left: 0;
    }
    #listitem
    {
        left: -245px;
        width: 322px;
    }
    #popup
    {
        display: block;
        position: relative;
        width: 100vw;
        height: 100vw;
    }
    #popup .primary_image
    {
        width: 100vw;
        height: 100vw;
        display: flex;
        align-items: center;
    }
    #cart,#add_cart
    {
        width: 90%;
        height: 50px;
        align-items: center;
    }
    #remm p
    {
        font-size: 14px;
    }
    /*animation effect*/
    @keyframes slider {
        from{
            width: 0;
            opacity: 0;
        }
        to{
            width: 50%;
            opacity: 1;
        }
    }
}